<html>
    <body>
        <h1><span style="font-family:courier new,courier,monospace;">Hi,</span></h1>

        <p><span style="font-family:courier new,courier,monospace;">Your leave request has been submitted. You will be notified upon approval or otherwise.</span></p>

        <p><span style="font-family:courier new,courier,monospace;">Thank&nbsp; You</span></p>
    </body>
</html>