<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:task="http://www.springframework.org/schema/task"

       xmlns:util="http://www.springframework.org/schema/util"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
          http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
          http://www.springframework.org/schema/task
http://www.springframework.org/schema/task/spring-task-3.0.xsd

">
    
       <bean id="dataSource"       destroy-method="close"   class="org.apache.commons.dbcp.BasicDataSource">
       <property name="driverClassName" value="org.postgresql.Driver" />
        
        <property name="url" value="jdbc:postgresql://localhost:5433/megahrmis" />
        <property name="username" value="postgres" />
        <property name="password" value="seekr3t!" />
        <property name="initialSize" value="5" />
        <property name="accessToUnderlyingConnectionAllowed" value="true"/>
        
        <property name="removeAbandoned" value="true"/>
        <property name="removeAbandonedTimeout" value="30"/>
        <property name="maxIdle" value="0" />
       
       
   
        <property  name="maxActive"  value="-1"  />
       
    </bean>

    <tx:annotation-driven  />
    <aop:aspectj-autoproxy  />
    
    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    
    </bean>
    
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" >
        <property name="persistenceUnitName"  value="eFinance"     />
        <property name="dataSource" ref="dataSource"/>
        <property name="persistenceXmlLocation" value="META-INF/mypersistence.xml"/>
        <property name="jpaPropertyMap" ref="hibernateProperties"/>
        
       

        
        
        <property name="jpaVendorAdapter" ref="hibernateJpaVendorAdapter" />
       
            
       
    </bean>
    
    
    
    <bean id="hibernateJpaVendorAdapter" class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>

    
    <util:map id="hibernateProperties">

        <!--
         The classname of a Hibernate org.hibernate.dialect.Dialect which allows Hibernate to generate SQL
         optimized for a particular relational database.
        -->
      <entry key="hibernate.dialect" value="org.hibernate.dialect.PostgreSQLDialect"/>

        <!-- Write all SQL statements to console. This is an alternative to setting the log category org.hibernate.SQL to debug. -->
        <entry key="hibernate.show_sql" value="true"/>

        <!-- Pretty print the SQL in the log and console. -->
        <entry key="hibernate.format_sql" value="true"/>

        <!-- If turned on, Hibernate will generate comments inside the SQL, for easier debugging, defaults to false. -->
        <entry key="hibernate.use_sql_comments" value="true"/>

        <!-- If enabled, Hibernate will collect statistics useful for performance tuning. -->
        <entry key="hibernate.generate_statistics" value="true"/>

        <!--
         Automatically validates or exports schema DDL to the database when the SessionFactory is created.
         With create-drop, the database schema will be dropped when the SessionFactory is closed explicitly.
         e.g. validate | update | create | create-drop
         -->
        <entry key="hibernate.hbm2ddl.auto" value="update"/>
        
        <entry key="hibernate.cache.region.factory_class" value="org.hibernate.cache.ehcache.EhCacheRegionFactory"/>
        
        <entry key="hibernate.cache.use_second_level_cache" value="true"/>
        
        <entry key="hibernate.cache.use_query_cache" value="true"/>
        
        <entry key="hibernate.search.default.directory_provider" value="filesystem"/>
        
        <entry key="hibernate.search.default.indexBase" value="c:\test\"/>
        
        
    </util:map>
    
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="localhost" />
        <property name="port" value="25" />
        <property name="username" value="admin" />
        <property name="password" value="12345" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.debug">true</prop> 
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.mime.charset">UTF-8</prop>
                <prop key="mail.transport.protocol">smtp</prop>
            </props>
        </property>
    </bean>
    
    
    <bean id="velocityEnginDe"
          class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="velocityProperties">
            
                
            <value>
                resource.loader=class
                class.resource.loader.class=org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </value>
       
        </property>
        
    </bean>
    
    <bean id="velocityEngine"
          class="org.springframework.ui.velocity.VelocityEngineFactoryBean" 
          p:resourceLoaderPath="/WEB-INF/test"/>
        
        
   
    
    
    
    
    
    
    <bean id="mailer" class="com.met.hrmis.util.Mailer2">
        <property name="mailSender" ref="mailSender"/>
        <property name="velocityEngine" ref="velocityEngine"/>
        <!-- This property is not in com.met.hrmis.util.Mailer -->
        <property name="emFactory" ref="hrEntityManager"/>
    </bean>
    
    
    
   
    
    
    <bean id="jpaTemplate" class="org.springframework.orm.jpa.JpaTemplate">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>
    
    <bean id="accountGroupController" class="com.insol.jsf.controllers.AccountGroupController" scope="session">
        <property name="accountGroupDao" ref="accountGroupDao"/>
    </bean>
    
    <bean id="chartOfAccountsController"   class="com.insol.jsf.controllers.ChartOfAccountsController" scope="session">
        <property name="chartOfAccountsDao"  ref="chartOfAccountsDao"/>
    </bean>
    
    
     
   
        
    
    
    <bean id="accountGroupDao" class="com.insol.spring.dao.AccountGroupDao"  parent="parentDao"/>
      
    <bean id="parentDao" class="com.insol.spring.dao.JpaParentDao" abstract="true"/>
        
    <bean id="_parentDao" class="com.insol.spring.dao.ParentDao" abstract="true" >
        <property name="jpaTemplate" ref="jpaTemplate"/>
        
    </bean>
    <bean id="chartOfAccountsDao" class="com.insol.spring.dao.ChartOfAccountsDao" parent="parentDao"/>       
    
    <bean id="productDao" class="com.insol.spring.dao.ProductDao" parent="parentDao"/>
    <bean id="transactionTypeDao" class="com.insol.spring.dao.TransactionTypeDao" parent="parentDao"/>
    <bean id="transactionTypeXProductXGLAccountDao" class="com.insol.spring.dao.TransactionTypeXProductXGLAccountDao" parent="parentDao"/>
    <bean id="productController" class="com.insol.jsf.controllers.ProductController" scope="session">
        <property name="productDao" ref="productDao"/>
    </bean>
    <bean id="transactionTypeController" class="com.insol.jsf.controllers.TransactionTypeController" scope="session">
        <property name="transactionTypeDao" ref="transactionTypeDao" />
    </bean>
    <bean id="productGroupDao" class="com.insol.spring.dao.ProductGroupDao" parent="parentDao"/>
    <bean id="productGroupController" class="com.insol.jsf.controllers.ProductGroupController" scope="session">
        <property name="productGroupDao" ref="productGroupDao" />
    </bean>
    <bean id="transactionTypeXProductXGlAccountController" 
          class="com.insol.jsf.controllers.TransactionTypeXProductXGlAccountController" scope="session">
        <property name="transGlSetup" ref="transactionTypeXProductXGLAccountDao" />
    </bean>
    <bean id="custClassDao" class="com.insol.spring.dao.CustClassDao" parent="parentDao"/>
    <bean id="customerDao" class="com.insol.spring.dao.CustomerDao" parent="parentDao"/>
    <bean id="custClassController" class="com.insol.jsf.controllers.CustClassController">
        <property name="custClassDao" ref="custClassDao"/>
    </bean>
    <bean id="docNumGenImpl" class="com.insol.spring.util.DocNumGenImpl" scope="singleton">
        <property  name="custClassDao" ref="custClassDao" />
    </bean>
    
    
    <!--bean id="systemAspects"   class="com.met.hrmis.util.SystemAspects" />  -->
  
    
        
    <bean id="customerController" class="com.insol.jsf.controllers.CustomerController">
        <property name="genericDao" ref="customerDao" />
    </bean>
    <bean id="custAdvSearchImpl" class="com.insol.spring.dao.CustAdvSearchImpl">
      
    </bean>
    
      <!-- HRMIS beans start here -->
      
    <bean id="hrParentDao" class="com.met.hrmis.jpa.dao.HrParentDao" abstract="true"/>
    
    <bean id="skillsDao" class="com.met.hrmis.jpa.dao.SkillsDao" parent="hrParentDao"/>  
  <!--  
    <bean id="entitlementProcessor" class="com.met.hrmis.util.EntitlementProcessor">
        <property name="leaveEntitlementDao" ref="leaveEntitlementDao"/>
        <property name="payGradeXLeaveTypeXDaysDao" ref="payGradeXLeaveTypeXDaysDao"/>
    </bean> -->
    
    <bean id="entitlementProcessor" class="com.met.hrmis.util.EntitlementProcessor1">
        <property name="leaveEntitlementDao" ref="leaveEntitlementDao"/>
        <property name="payGradeXLeaveTypeXDaysDao" ref="payGradeXLeaveTypeXDaysDao"/>
        <property name="leaveEntitlementDetailsDao" ref="employeeXLeaveEntitlementXLeaveDetailsDao"/>
    </bean>   
      
  
    
    <bean id="payGradeDao" class="com.met.hrmis.jpa.dao.PayGradeDao" parent="hrParentDao"/>
    <bean id="jobCategoriesDao" class="com.met.hrmis.jpa.dao.JobCategoriesDao" parent="hrParentDao"/>
    <bean id="jobTitleDao" class="com.met.hrmis.jpa.dao.JobTitleDao" parent="hrParentDao"/>
    <bean id="employmentStatusDao" class="com.met.hrmis.jpa.dao.EmploymentStatusDao" parent="hrParentDao"/>
    <bean id="employeeDao" class="com.met.hrmis.jpa.dao.EmployeeDao2" parent="hrParentDao"/>
    <bean id="educationDao" class="com.met.hrmis.jpa.dao.EducationDao" parent="hrParentDao"/>
    <bean id="usersDao" class="com.met.hrmis.jpa.dao.UsersDao"  parent="hrParentDao"/>
    <bean id="departmentDao" class="com.met.hrmis.jpa.dao.DepartmentDao" parent="hrParentDao"/>
    <bean id="branchesDao" class="com.met.hrmis.jpa.dao.BranchesDao" parent="hrParentDao"/>
    <bean id="userAuthoritiesDao" class="com.met.hrmis.jpa.dao.UserAuthoritiesDao" parent="hrParentDao"/>
    <bean id="reportsDao" class="com.met.hrmis.jpa.dao.ReportsDao" parent="hrParentDao"/>
    <bean id="relationshipDao" class="com.met.hrmis.jpa.dao.RelationshipDao" parent="hrParentDao"/>
    <bean id="membershipDao" class="com.met.hrmis.jpa.dao.MembershipDao" parent="hrParentDao"/>
    <bean id="employeeXRelationshipDao" class="com.met.hrmis.jpa.dao.EmployeeXRelationshipDao" parent="hrParentDao"/>
    <bean id="employeeXEducationDao" class="com.met.hrmis.jpa.dao.EmployeeXEducationDao" parent="hrParentDao"/>
    <bean id="employeeXMembershipDao" class="com.met.hrmis.jpa.dao.EmployeeXMembershipDao" parent="hrParentDao"/>
    <bean id="employeeXSkillsDao" class="com.met.hrmis.jpa.dao.EmployeeXSkillsDao" parent="hrParentDao"/>
    <bean id="employeeHistoryDao" class="com.met.hrmis.jpa.dao.EmployeeHistoryDao" parent="hrParentDao"/>
    <bean id="trainingXEmployeesDao" class="com.met.hrmis.jpa.dao.TrainingXEmployeesDao" parent="hrParentDao"/>
    <bean id="bi_staffDevelopmentDao" class="com.met.hrmis.jpa.dao.BI_StaffDevelopmentDao" parent="hrParentDao"/>
    <bean id="bi_exitStaffDao" class="com.met.hrmis.jpa.dao.BI_ExitStaffDao" parent="hrParentDao" />
    <bean id="trainingDao" class="com.met.hrmis.jpa.dao.TrainingDao2" parent="hrParentDao"/>
    <bean id="trainingXItemCostDao" class="com.met.hrmis.jpa.dao.TrainingXItemCostDao" parent="hrParentDao"/>
    <bean id="leaveTypeDao" class="com.met.hrmis.jpa.dao.LeaveTypeDao" parent="hrParentDao"/>
    <bean id="emailConfigDao" class="com.met.hrmis.jpa.dao.EmailConfigDao" parent="hrParentDao"/>
    <bean id="leavePeriodsDao" class="com.met.hrmis.jpa.dao.LeavePeriodsDao" parent="hrParentDao"/>
    <bean id="terminationReasonDao" class="com.met.hrmis.jpa.dao.TerminationReasonDao" parent="hrParentDao"/>
    <bean id="leaveEntitlementDao" class="com.met.hrmis.jpa.dao.LeaveEntitlementDao" parent="hrParentDao"/>
    <bean id="payGradeXLeaveTypeXDaysDao" class="com.met.hrmis.jpa.dao.PayGradeXLeaveTypeXDaysDao" parent="hrParentDao"/>
    <bean id="trainingCostItemDao" class="com.met.hrmis.jpa.dao.TrainingCostItemDao" parent="hrParentDao"/>
    <bean id="employeeXLeaveEntitlementXLeaveDetailsDao" class="com.met.hrmis.jpa.dao.EmployeeXLeaveEntitlementXLeaveDetailsDao" parent="hrParentDao">
        <property name="leaveEntitlementDao" ref="leaveEntitlementDao"/>
    </bean>
    <bean id="empXLeavePlannerDao" class="com.met.hrmis.jpa.dao.EmpXLeavePlannerDao" parent="hrParentDao"/>
    
    <!-- HRMIS controllers start here -->
    <bean id="parentController" class="com.met.hrmis.controllers.ParentController" abstract="true"/>
    <bean id="branchController" class="com.met.hrmis.controllers.BranchController" parent="parentController" scope="view">
        <property name="genericDao" ref="branchesDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
            
    </bean>
    <bean id="departmentController" class="com.met.hrmis.controllers.DepartmentController" parent="parentController" scope="view">
        <property name="genericDao" ref="departmentDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    <bean id="employeeController" class="com.met.hrmis.controllers.EmployeeController3" parent="parentController" scope="view">
        <property name="genericDao" ref="employeeDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
        <property name="em" ref="hrEntityManager"/>
    </bean>
    
   
    
    <bean id="employmentStatusController" class="com.met.hrmis.controllers.EmploymentStatusController" parent="parentController" scope="view">
        <property name="genericDao" ref="employmentStatusDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
        
    <bean id="jobCategoriesController" scope="view" class="com.met.hrmis.controllers.JobCategoriesController" parent="parentController">
        <property name="genericDao" ref="jobCategoriesDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    <bean id="levelOfEducationController" scope="view" class="com.met.hrmis.controllers.LevelOfEducationController" parent="parentController">
        <property name="genericDao" ref="educationDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    <bean id="skillsController" scope="view" class="com.met.hrmis.controllers.SkillsController" parent="parentController">
        <property name="genericDao" ref="skillsDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    <bean id="payGradeController" scope="view" class="com.met.hrmis.controllers.PayGradeController" parent="parentController">
        <property name="genericDao" ref="payGradeDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    <bean id="jobTitleController" class="com.met.hrmis.controllers.JobTitleController" parent="parentController" scope="view">
        <property name="genericDao" ref="jobTitleDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    <bean id="loginController" class="com.met.hrmis.controllers.LoginController" scope="session">
        <property  name="emf" ref="hrEntityManager"/>
    </bean>
    <bean id="userController" class="com.met.hrmis.controllers.UserController" parent="parentController" scope="view">
        <property name="genericDao" ref="usersDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>         
  
    <bean id="userAuthoritiesController" scope="view" class="com.met.hrmis.controllers.UserAuthoritiesController" parent="parentController">
        <property name="genericDao" ref="userAuthoritiesDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
        
    </bean>
    
    <bean id="reportsController" scope="view" class="com.met.hrmis.controllers.ReportsController" parent="parentController">
        <property name="genericDao" ref="reportsDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
        
    <bean id="relationshipController" scope="view" class="com.met.hrmis.controllers.RelationshipController" parent="parentController">
        <property name="genericDao" ref="relationshipDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    <bean id="membershipController" scope="view" class="com.met.hrmis.controllers.MembershipController" parent="parentController">
        <property name="genericDao" ref="membershipDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>    
   
   
    <bean id="employeeXEducationController" scope="view" class="com.met.hrmis.controllers.EmployeeXEducationController" parent="parentController">
        <property name="genericDao" ref="employeeXEducationDao"/>
        <property name="employeeDao" ref="employeeDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    <bean id="employeeXRelationshipController" scope="view" class="com.met.hrmis.controllers.EmployeeXRelationshipController" parent="parentController">
        <property name="genericDao" ref="employeeXRelationshipDao"/>
        <property name="employeeDao" ref="employeeDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    
    <bean id="empXLeavePlannerController" scope="view" class="com.met.hrmis.controllers.EmpXLeavePlannerController" parent="parentController">
        <property name="genericDao" ref="empXLeavePlannerDao" />
        <property name="dlgWindow" value="dlgWindow"/>
        <property name="employeeDao" ref="employeeDao" />
    </bean>
   
    <bean id="employeeXMembershipController"  class="com.met.hrmis.controllers.EmployeeXMembershipController" parent="parentController" scope="view">
        <property name="genericDao" ref="employeeXMembershipDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
        <property  name="employeeDao" ref="employeeDao"/>
    </bean>
   
    <bean id="employeeXSkillsController" scope="view" class="com.met.hrmis.controllers.EmployeeXSkillsController" parent="parentController">
        <property name="genericDao" ref="employeeXSkillsDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
        <property name="employeeDao" ref="employeeDao"/>
    </bean>
    
    <bean id="employeeHistoryController" scope="view" class="com.met.hrmis.controllers.EmployeeHistoryController" parent="parentController">
        <property name="genericDao" ref="employeeHistoryDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
        <property name="employeeDao" ref="employeeDao"/>
    </bean>
    
    
    
    <bean id="trainingController" scope="view" class="com.met.hrmis.controllers.TrainingController3" parent="parentController">
        <property name="genericDao" ref="trainingDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
        <property name="em" ref="hrEntityManager"/>
    </bean>
    <bean id="trainingXEmployeeController" scope="view" class="com.met.hrmis.controllers.TrainingXEmployeeController" parent="parentController">
        <property name="genericDao" ref="trainingXEmployeesDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
        <property name="trainingDao" ref="trainingDao"/>
    </bean>
        
    <bean id="trainingXItemCostController" scope="view" class="com.met.hrmis.controllers.TrainingXItemCostController" parent="parentController">
        
        <property name="genericDao" ref="trainingXItemCostDao"/>
        <property name="dlgWindow" value="dlgWindow"/>
        <property name="trainingDao" ref="trainingDao"/>
        
    </bean>
    
    
    
    <bean id="employeeXTrainingController" scope="view" class="com.met.hrmis.controllers.EmployeeXTrainingController">
        <property name="genericDao" ref="employeeDao" />
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    
    <bean id="leaveTypesController" scope="view" class="com.met.hrmis.controllers.LeaveTypesController" parent="parentController">
        <property name="genericDao" ref="leaveTypeDao"/>
        <property name="dlgWindow" value="dlgWindow"/>       
        
    </bean>
    
    <bean id="leavePeriodsController" scope="view" class="com.met.hrmis.controllers.LeavePeriodsController" parent="parentController">
        <property name="genericDao" ref="leavePeriodsDao"/>
        <property name="entitlementProcessor" ref="entitlementProcessor" />
        <property name="dlgWindow" value="dlgWindow"/>  
    </bean>
    
    
    
  
    <bean id="leaveEntitlementController" scope="view" class="com.met.hrmis.controllers.LeaveEntitlementController" parent="parentController">
        <property name="genericDao" ref="leaveEntitlementDao"/>
        <property name="dlgWindow" value="dlgWindow"/>  
    </bean>
    
    <bean id="payGradeXLeaveTypeXDaysController" scope="view" class="com.met.hrmis.controllers.PayGradeXLeaveTypeXDaysController" parent="parentController">
        <property name="genericDao" ref="payGradeXLeaveTypeXDaysDao"/>
        <property name="dlgWindow" value="dlgWindow"/>  
    </bean>

   
    <bean id="terminationReasonController" scope="view" class="com.met.hrmis.controllers.TerminationReasonController" parent="parentController">
        <property name="genericDao" ref="terminationReasonDao" />
        <property name="dlgWindow" value="dlgWindow"/>
            
    </bean>
    
    <bean id="trainingCostItemController" scope="view" class="com.met.hrmis.controllers.TrainingCostItemController" parent="parentController">
        <property name="genericDao" ref="trainingCostItemDao"/>
        <property name="dlgWindow" value="dlgWindow"/> 
    </bean>
    
    <bean id="employeeXLeaveEntitlementXLeaveDetailsController" class="com.met.hrmis.controllers.EmployeeXLeaveEntitlementXLeaveDetailsController"
          parent="parentController" scope="view">
        <property name="genericDao" ref="employeeXLeaveEntitlementXLeaveDetailsDao"/>
        <property name="em" ref="hrEntityManager"/>
        <property name="mailer" ref="mailer"/>
        <property name="dlgWindow" value="dlgWindow"/> 
    </bean>
    
    <bean id="emailConfigController" class="com.met.hrmis.controllers.EmailConfigController" parent="parentController" scope="view" >
        <property name="genericDao" ref="emailConfigDao" />
        
    </bean>
    
    <bean id="passwordChangeController" class="com.met.hrmis.controllers.PasswordChangeController" parent="parentController" scope="view" >
        <property name="loginController"  ref="loginController"/>
        <property name="genericDao" ref="usersDao"/>
    </bean>
    
    <bean id="hrEntityManager" class="com.met.hrmis.jpa.dao.HrEntityManager"/>
    
    <bean id="emailConfiguration" class="com.met.hrmis.jpa.entities.EmailConfiguration">
        <property name="mailSender" value="bosei-aning@metinsurance.com" />
        <property name="leaveApprovalNotificationSubscribers" value="bosei-aning@metinsurance.com"/>
        <property name="leaveApprovalReminderNotificationSubscribers" value=""/>
        <property name="leaveCancellationNoficationSubscribers" value="" />
        <property name="leaveRejectionNotificationSubscribers" value="" />
        <property name="leaveRequestNotificationSubscribers" value="" />
        <property name="leaveRequestReminderActive" value="true" />
        <property name="birthdayNotificationSubscribers" value="bosei-aning@metinsurance.com" />
    </bean>
    
    <bean id="employeeXLeaveDetailsController" scope="view" class="com.met.hrmis.controllers.EmployeeXLeaveDetailsController">
        <property name="genericDao" ref="employeeDao" />
        <property name="dlgWindow" value="dlgWindow"/>
    </bean>
    
    <bean id="indexBuilder" class="com.met.hrmis.util.DbIndexBuilder" init-method="buildIndex"/>
    
    
    <bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
        <property name="scopes">
            <map>
                <entry key="view">
                    <bean class="com.met.hrmis.util.ViewScope"/>
                </entry>
            </map>
        </property>
    </bean>
    
    <bean id="birthdayNotifier" class="com.met.hrmis.util.BirthdayNotifier">
        <property name="emFactory" ref="hrEntityManager"/>
        <property name="mailer" ref="mailer"/>
        
    </bean>
    
    <bean id="leaveNotifier" class="com.met.hrmis.util.LeaveNotifier">
        <property name="emFactory" ref="hrEntityManager"/>
        <property name="mailer" ref="mailer"/>
        <property name="leaveDetailsDao" ref="employeeXLeaveEntitlementXLeaveDetailsDao"/>
        <property name="leavePlannerDao" ref="empXLeavePlannerDao"/>
       
        
    </bean>
    
    <bean id="BI_StaffDevelopmentLoader" class="com.met.hrmis.util.StaffDevelopmentBusinessIntelligenceLoader">
        <property name="branchDao" ref="branchesDao"/>
        <property name="departmentDao" ref="departmentDao" />
        <property name="jobTitleDao" ref="jobTitleDao" />
        <property name="payGradeDao" ref="payGradeDao" />
        <property name="bI_StaffDevelopmentDao" ref="bi_staffDevelopmentDao"/>
        <property name="emFactory" ref="hrEntityManager"/>
        
        
        
    </bean>
    
    <bean id="supportUserCreator" class="com.met.hrmis.util.SupportUserCreator" 
     init-method="createSupportUser" >
        <property name="dao" ref="usersDao"/>
        <property name="authoritiesDao" ref="userAuthoritiesDao" />
    </bean>
    
    
    <task:scheduled-tasks >
        
        <!--task:scheduled ref="birthdayNotifier" method="alert" cron="0 20 * * * ?"/>   -->
        
        <task:scheduled ref="leaveNotifier" method="alert" cron="0 0/5 * * * ?"/>
        
        
        <task:scheduled ref="BI_StaffDevelopmentLoader" method="populate" cron="0 20 * * * ?"/>
        
        <!-- leave notification here -->
        
    </task:scheduled-tasks>
    
    
       
    
    
    
</beans>
 