body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
}

.ui-icon-profile{
    background-image: url(/megahrmis/faces/templates/Profile.png)  !important;
    height : 50px;
    width : 50px;
}

.ui-icon-settings{
    background-image: url(/megahrmis/faces/templates/settings.png) !important;
   background-position: center !important;
    height : 40px;
    width : 40px;
    
    background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat;
}

.ui-icon-employee{
    background-image: url(/megahrmis/faces/templates/user.png) !important;
   background-position: center !important;
    height : 46px;
    width : 40px;
    
    background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat;
}

.ui-icon-training{
    background-image: url(/megahrmis/faces/templates/teacher.png) !important;
   background-position: center !important;
    height : 46px;
    width : 40px;
    
    background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat;
}

.ui-icon-leave{
    background-image: url(/megahrmis/faces/templates/travel.png) !important;
   background-position: center !important;
    height : 40px;
    width : 40px;
    
    background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat;
}

.ui-icon-report{
    background-image: url(/megahrmis/faces/templates/report.png) !important;
   background-position: center !important;
    height : 40px;
    width : 40px;
    
    background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat;
}


.ui-icon-delete{
    background-image: url(/megahrmis/faces/templates/delete.png) !important;
   background-position: center !important;
    height : 40px;
    width : 40px;
    
    background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat;
}

.ui-icon-edit{
    background-image: url(/megahrmis/faces/templates/edit.png) !important;
   background-position: center !important;
    height : 40px;
    width : 40px;
    
    background-size:cover; 
  background-position:center center; 
  background-repeat:no-repeat;
}

.ui-icon-warning{
    background-image: url(/megahrmis/faces/templates/Warning.png)  !important;
    height : 50px;
    width : 50px;
}

.ui-icon-searcho{
    background-image: url(/megahrmis/faces/templates/Search.png)  !important;
    height : 50px;
    width: 70px;
    
}



h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover  {
    color: #045491;
    font-weight : bold;
    text-decoration : underline;
}

