<html>
    <body>
        <p><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">Hi,</span></span></p>

        <p><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">The above subject refers.</span></span></p>

        <p><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">Period&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; :</span></span>&nbsp; <span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;"><u>${leavePeriod}</u>&nbsp; </span></span></p>

        <p><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">Leave Type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></span>&nbsp; <span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">${leaveType} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></p>

        <p><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">Start Date&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; : ${startDate}</span></span></p>

        <p><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">End Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp; : ${endDate}</span></span></p>

        <p><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">Number Of Days &nbsp; &nbsp; : <span style="color: rgb(255, 0, 0);">${leaveDays</span></span></span><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;"><span style="color: rgb(255, 0, 0);">}</span></span></span></p>

        <p><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">Status &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; : <strong>REJECTED</strong></span></span></p>

        <p><u><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">Supervisor&#39;s Comments</span></span></u></p>

<p><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;"><span style="background-color:#FFFFE0;">${comments}</span></span></span></p>

<p><span style="font-family:courier new,courier,monospace;"><span style="font-size: 14px;">Thank You.</span></span></p>
</body>
</html>